{{#each people as |person|}}

   <ul data-id="{{person.id}}">
     <li> <small>ID: {{person.id}}</small></li>
     <li> <small>Name: {{person.name}}</small></li>
     <li> <small>Connections: {{person.connections}}</small></li>
     <li> <small>Partner: {{person.partner}}</small></li>
     <li> <small>Children: {{person.children}}</small></li>
     <li> <small>Notes: {{person.notes}}</small></li>
   </ul>

{{/each}}
